/* Navbar */
.header {
  min-height: 70px;
  padding: 15px 50px;
  border-bottom: 1px solid white;
}

.header .upper-nav .navbar ul li a {
  padding: 0 20px;
}

.header .lower-nav .navbar {
  text-align: center;
}

.header .lower-nav .navbar {
  display: none;
  margin-top: 20px;
}

.header .lower-nav .navbar ul li a {
  padding: 0 15px;
}

/* Signup page */
.signup-wrapper {
  margin-top: 20px;
  padding: 0 50px;
}

.signup-wrapper h2 {
  font-size: clamp(1.5rem, 10vw, 3rem);
  margin-bottom: 20px;
}

.signup-wrapper .signup-form {
  gap: 20px;
}

.signup-wrapper .signup-form a {
  color: greenyellow;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 20px;
  }

  .signup-wrapper {
    padding: 0 20px;
  }
}

@media screen and (max-width: 668px) {
  .header .upper-nav .navbar {
    display: none;
  }

  .header .lower-nav .navbar {
    display: block;
  }
}
