@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #171717;
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

input,
textarea {
  outline: 0;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
}

/* Utility classes */
.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.container {
  max-width: 1400px;
  margin-inline: auto;
}

.wrapper {
  padding: 0 50px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 20px;
  }
}
